.AboutUsMainContainer {
    display: flex;
    flex-direction: column;
}

.AboutUsFirstContainer {
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.AboutUsFirstContainerContentImg {
    width: 25%;
    height: 55vh;
}

.AboutUsFirstContainerContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 55%;
}

.AboutUsFirstContainerContentHeader {
    font-size: 30px;
    font-weight: 700;
    color: #074168;
    margin: 0rem;
    font-family: "Figtree", sans-serif;
    display: block;
    text-align: center;
}

.AboutUsFirstContainerContentText {
    margin: 1rem 0rem;
    font-size: 20px;
    font-weight: 700px;
    font-family: "Figtree", sans-serif;
    color: #827e7e;
}

.AboutUsSecondContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.DirecterContentAndImage {
    width: 25%;
    padding: 0.5rem;
    /* background-color: #fff;
    box-shadow: 1px 2px 4px 1px #c4c2c2; */
    border-radius: 10px;
    padding: 0.5rem;
}
.DirecterImage{
    width: 100%;
}
.DirecterImageName{
    font-size: 20px;
    font-weight: 700;
    color: #074168;
    text-align: center;
    margin: 0.2rem;
    font-family: "Figtree", sans-serif;
}
.DirecterImageText{
    font-size: 16px;
    font-weight: 700;
    color: #074168;
    text-align: center;
    font-family: "Figtree", sans-serif;
    margin: 0rem 0rem 0.2rem 0rem;
}
.AboutUsThirdContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0rem;
    padding: 2rem 4rem;
    /* background-color: #f0faf9; */
}
.AboutUsThirdContainerTitle{
    font-size: 30px;
    font-weight: 800;
    color: #074168;
    margin: 0.5rem;
}
.AboutUsThirdContainerContentFeild{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0rem;
}
.AboutUsThirdContent{
    display: flex;
    flex-wrap: wrap;
    background-color: #d5f1fe;
    box-shadow: 1px 2px 4px 1px #c4c2c2;
    padding: 2rem 2.5rem;
    margin: 0.5rem;
    width: 40%;
    justify-content: space-between;
    border-radius: 10px;
    
}
.AboutUsThirdContentTitle{
    margin: 0.2rem 0rem 1rem 0rem;
    color: #074168;
    font-size: 24px;
    font-weight: 800;
    font-family: "Figtree", sans-serif;
}
.AboutUsThirdContentText{
    margin: 0rem;
    font-size: 18px;
    font-weight: 500;
    font-family: "Figtree", sans-serif;
}


.center {
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  
.char {
    animation: an 1s ease-out 1 both;
    display: inline-block;
  }
  
  @keyframes an {
    from {
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to {
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
    }
  }
@media only screen and (min-width: 220px) and (max-width: 450px){
    .AboutUsFirstContainer{
        padding: 1rem;
        flex-direction: column-reverse;
    }
    .AboutUsFirstContainerContent{
        width: 100%;
        text-align: center;
    }
    .AboutUsFirstContainerContentHeader{
        font-size: 22px;
    }
    .AboutUsFirstContainerContentText{
        font-size: 16px;
    }
    .AboutUsFirstContainerContentImg{
        width: 87%;
        height: 50vh;
    }
    .AboutUsThirdContainer{
        padding: 1rem;
    }
    .AboutUsThirdContent{
        padding: 1rem;
        text-align: center;
        align-content: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .AboutUsThirdContainerTitle{
        font-size: 16px;
        text-align: center;
    }
}
@media only screen and (min-width: 451px) and (max-width: 700px){
    .AboutUsFirstContainer{
        padding: 1rem;
        flex-direction: column-reverse;
    }
    .AboutUsFirstContainerContent{
        width: 100%;
        text-align: center;
    }
    .AboutUsFirstContainerContentHeader{
        font-size: 22px;
    }
    .AboutUsFirstContainerContentText{
        font-size: 16px;
    }
    .AboutUsFirstContainerContentImg{
        width: 50%;
        height: 50vh;
    }
    .AboutUsThirdContainer{
        padding: 1rem;
    }
    .AboutUsThirdContent{
        padding: 1rem;
        text-align: center;
        align-content: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .AboutUsThirdContainerTitle{
        font-size: 16px;
        text-align: center;
    }
}
@media only screen and (min-width: 701px) and (max-width: 1090px){
    .AboutUsFirstContainerContentImg {
        width: 40%;
        height: 50vh;
    }
    .AboutUsThirdContainerTitle{
        text-align: center;
    }
    .AboutUsThirdContainerContentFeild{
       display: flex;
        justify-content: center;
    }
    .AboutUsThirdContent{
        width: 33%;
    }
}