.ITSystemAndServiceIntegrationPageMainContainer{
    display: flex;
    flex-direction: column;
}
.ITSystemAndServiceIntegrationPageCard{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem 2rem;
    margin: 1rem;
}
.ITSystemAndServiceIntegrationPageCardTitle{
    font-size: 24px;
    font-weight: 700;
    margin: 0.5rem 0rem;
    color: #fe672b;
}
.ITSystemAndServiceIntegrationPageCardFirstContainer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.ITSystemAndServiceIntegrationPageCardFirstContent{
    font-size: 16px;
    margin: 0rem;
    word-break: break-word;
    color: #827e7e;
}
.ITSystemAndServiceIntegrationPageCardFirstContentImg{
    width: 30%;
}
.ITSystemAndServiceIntegrationPageCardFirstContainerText{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    width: 60%;
}
.ITSystemAndServiceIntegrationPageCardSecondContainer{
    width: 80%;
    margin: 1rem 0rem;
}
.CareersPageThiredContainerSecondContentTextIcon{
    color: #0e62c2;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 0.2rem;
}
.ITSystemAndServiceIntegrationContentText{
    display: flex;
    font-size: 16px;
    margin: 0,5rem;
    word-break: break-word;
    color: #827e7e;
    gap: 10px;
}
.ITSystemAndServiceIntegrationPageCardSubTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 0.5rem;
    color: #318dea;
}
@media only screen and (min-width: 220px) and (max-width: 650px){
    .ITSystemAndServiceIntegrationPageCard{
        margin: 0rem;
        padding: 0rem;
        width: 100%;
    }
    .ITSystemAndServiceIntegrationPageCardFirstContainer{
        flex-direction: column;
    }
    .ITSystemAndServiceIntegrationPageCardFirstContainerText{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        padding: 0rem;
    }
    .ITSystemAndServiceIntegrationPageCardFirstContentImg{
        width: 90%;
    }
    .ITSystemAndServiceIntegrationPageCardSecondContainer{
        width: 100%;
    }
    .ITSystemAndServiceIntegrationPageCardTitle{
        text-align: center;
        font-size: 18px;
    }
    .ITSystemAndServiceIntegrationPageCardFirstContent{
        font-size: 14px;
        margin: 1rem;
        text-align: center;
    }
    .ITSystemAndServiceIntegrationPageCardSubTitle {
        font-size: 14px;
        text-align: center;
    }
    .ITSystemAndServiceIntegrationContentText{
        font-size: 14px;
        margin: 1rem;
    }
}