.CustomSoftwareDevelopmentPageMainContainer{
    display: flex;
    flex-direction: column;
}
.CustomSoftwareDevelopmentPageCard{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem 2rem;
    margin: 1rem;
}
.CustomSoftwareDevelopmentPageCardTitle{
    font-size: 24px;
    font-weight: 700;
    margin: 0.5rem 0rem;
    color: #fe672b;
}
.CustomSoftwareDevelopmentPageCardFirstContainer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.CustomSoftwareDevelopmentPageCardFirstContent{
    font-size: 16px;
    margin: 0rem;
    word-break: break-word;
    color: #827e7e;
}
.CustomSoftwareDevelopmentPageCardFirstContentImg{
    width: 30%;
}
.CustomSoftwareDevelopmentPageCardFirstContainerText{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    width: 60%;
}
.CustomSoftwareDevelopmentPageCardSecondContainer{
    width: 80%;
    margin: 1rem 0rem;
}
.CareersPageThiredContainerSecondContentTextIcon{
    color: #0e62c2;
}
.CustomSoftwareDevelopmentContentText{
    display: flex;
    font-size: 16px;
    margin: 0,5rem;
    word-break: break-word;
    color: #827e7e;
    gap: 10px;
}
.CustomSoftwareDevelopmentPageCardSubTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 0.5rem;
    color: #318dea;
}
@media only screen and (min-width: 220px) and (max-width: 650px){
    .CustomSoftwareDevelopmentPageCard{
        margin: 0rem;
        padding: 0rem;
        width: 100%;
    }
    .CustomSoftwareDevelopmentPageCardFirstContainer{
        flex-direction: column;
    }
    .CustomSoftwareDevelopmentPageCardFirstContainerText{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        padding: 0rem;
    }
    .CustomSoftwareDevelopmentPageCardFirstContentImg{
        width: 90%;
    }
    .CustomSoftwareDevelopmentPageCardSecondContainer{
        width: 100%;
    }
    .CustomSoftwareDevelopmentPageCardTitle{
        text-align: center;
        font-size: 18px;
    }
    .CustomSoftwareDevelopmentPageCardFirstContent{
        font-size: 14px;
        margin: 1rem;
        text-align: center;
    }
    .CustomSoftwareDevelopmentPageCardSubTitle {
        font-size: 14px;
        text-align: center;
    }
    .CustomSoftwareDevelopmentContentText{
        font-size: 14px;
        margin: 1rem;
    }
}